body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e7e7e7;
}

.container {
    margin: 0 auto;
    width: 96%;
}

header {
    position: relative;
}

/*Logo Projeto Refusa*/
.logo-topo {
	width: 225px;
	height: 100px;
}

.titulo {
	font-size: 50px;
	text-align: right;
	padding-right: 3%;
	position: absolute;
	top: 5%;
	right: 0;
	color: green;
}

.menu-opcoes { /* Posicionando o menu */
	position: absolute;
	bottom: 2%; /* 0 embaixo */
	right: 0; /* 0 a direita */
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline; /* barra do menu na horizontal */
	margin-left: 20px; /* margen entre os elementos */
}

.menu-opcoes a {
	color: #003366;
}

/* mudando estado dos links */
.menu-opcoes a:hover { /* passar o mouse */
	color: #007DC6;
}

.menu-opcoes a:active { /* clicar no item */
	color: #867DC6;
}

.img-inicial {
	position: relative;

}

.texto-oque {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 35%;
}

.texto-obj {
	position: absolute;
	top: 32%;
	right: 25%;
	width: 35%;
}

.texto-home1 {
	color: black;
}

.texto-home2 {
	color: white;
}

.texto-home1, .texto-home2 {
	text-align: justify;
	font-size: 25px;
	color: white;
}

.img-home {
	width: 100%;
	height: 650px;
}

#map {
	width: 100%;
    height: 100vh;
    box-shadow: 5px 5px 5px #888;
}

.logo-ifpi-rodape {
	width: 200px;
	height: 150px;
}

footer {
    background-color: lightgray;
    position: relative;
    height: 200px;
}

.muni-rodape {
    position: absolute;
    right: 0;
    top: 2%;
    width: 45%;
}

.titulo-muni {
    font-style: italic;
    text-align: left;
}

.lista-muni-esq, .lista-muni-cen, .lista-muni-dir {
    font-size: 14px;
    font-style: italic;
    margin: 2% 9% 0% 0%;
}

.lista-muni-esq {
    float: left;
}

.lista-muni-cen {
    float: left;
}

.lista-muni-dir {
    float: right;
}
