/* Familia de fontes da página*/
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'Poppins', sans-serif;
}

/* Padroniza espaço ocupado pelo conteúdo da página */
.container {
    margin: 0 auto;
    width: 96%;
}

/* Cabeçalho */
header {
    position: relative;
}

/* Logo do projeto */
.logo-img{
	width: 200px;
	position: absolute;
	top: -16px;
	left: 0;
}

.menu-side{
	 text-align: center;
	
	 background-color: white;
	 padding: 46px;
	 position: relative;
	 bottom: 0px;
}

.link-menu:hover{
	 border-bottom: 3px solid rgb(22, 22, 22);
}

.menu-side a{
	 padding: 15px;
	 font-size: 16px;
	 font-weight: 600;
	 text-transform: uppercase;
	 text-decoration: none;
	 color: #01624F;
}
/* Fim do cabeçalho */


.mensagem {
    font-size: 3em;
    text-align: center
}



#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	border: none;
	outline: none;
	background-color: lightseagreen;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }


table {
	margin: 1% 0 1% 0;
}

table {
	top: 5%;
	bottom: 5%;
}

.logos-parceiros {
	width: 150px;
	height: 150px;
}

footer {
	position: relative;
}

.muni-rodape {
    position: absolute;
    right: 0;
    top: 2%;
    width: 45%;
}

.titulo-muni {
    font-style: italic;
    text-align: left;
}

.lista-muni-esq, .lista-muni-cen, .lista-muni-dir {
    font-size: 14px;
    font-style: italic;
    margin: 2% 9% 0% 0%;
}

.lista-muni-esq {
    float: left;
}

.lista-muni-cen {
    float: left;
}

.lista-muni-dir {
    float: right;
}


.endereco {
	float: left;
	color: whitesmoke;
	text-align: justify;
	padding: 2% 0% 0% 2%;
	width: 67%;
}

/* icons */
.center-icons{
	background-color: black;
	height: 30vh;
	text-align: center;
}

.redes-sociais {
	float: right;
	width: 30%;
	padding-top: 2%;
}

i{
   color: white;
   font-size: 26px;
   padding: 13px;
   border: 2px solid white;
   border-radius: 5px;
}
i:hover{
	background-color: gray;
}
/* icones */


/* copyright */
.copyright {
	width: 33%;
	margin: auto;
	padding-top: 6%;
}


.text-copyright{
	color: white;

	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
	padding-left: 52%;
	margin-top: 2%;
}
/* copyright */
