#message-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3%;
	font-size: medium;
	text-align: center;
}

.asterisco {
	color: red;
}

.form {
	margin-top: 4%;
	margin-bottom: 5%;
}

label {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	padding: 1% 0;
	text-transform: uppercase;
	margin-top: 10px;
}

input, textarea {
	border: 1px solid #ccc;
	box-shadow: inset 2px 2px 2px #eee;
	display: inline-block;
	font-size: 1.0em;
	margin: 2px 5px;
	width: 100%;
	padding: 1.2%;
	border-radius: 10px;
}

textarea {
	height: 150px;
}

.btn-submit {
	border-radius: 5px;
	margin-top: 1%;
	background-color: #01624F;
	color: #f7931e;
	padding: 6px 12px;
	font-size: 1.0em;
	font-weight: bold;
}

.btn-reset {
	border-radius: 5px;
	margin-top: 1%;
	background-color: #f7931e;
	color: #01624F;
	padding: 6px 12px;
	font-size: 1.0em;
	font-weight: bold;
}

@media (max-width: 768px) {
	label {
		font-size: 1em;
	}
	
	input, textarea {
		font-size: 1.2em;
		padding: 2%;
	}
}

@media (max-width: 480px) {
	label {
		margin-top: 15px;	
	}
}