.main-text p {
  text-indent: 1.5em;
  padding-top: 15px;
  text-align: justify;
  font-size: large;
}

.main-text a {
  opacity: 0.8;
  color: #fab235;
}

.main-text a:hover {
  opacity: 1;
}

.corps-project {
  padding-bottom: 10px;
}

.corps-project h3 {
  padding: 15px 0 10px 0;
}
