body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 96%;
}

header {
	position: relative;
	border-bottom: solid 1px;
}

/* Cabeçalho */
header {
    position: relative;
}

/* Logo do projeto */
.logo-img{
	width: 200px;
	position: absolute;
	top: -16px;
	left: 0;
}

.menu-side{
	 text-align: center;
	
	 background-color: white;
	 padding: 46px;
	 position: relative;
	 bottom: 0px;
}

.link-menu:hover{
	 border-bottom: 3px solid rgb(22, 22, 22);
}

.menu-side a{
	 padding: 15px;
	 font-size: 16px;
	 font-weight: 600;
	 text-transform: uppercase;
	 text-decoration: none;
	
	 color: #1d9227;
}
/* Fim do cabeçalho */


.texto-principal {
	top: 2%;
}

p {
	text-align: justify;
	padding: 1% 0 0 0;
	font-size: 1.1em;
}

.negrito {
	font-weight: bold;
}

section {
	top: 2%;
	bottom: 2%;
}

.corpo-projeto {
	font-style: oblique;
	padding: 2% 0 2% 0;
}

.cpr-titulo {
	font-size: 1.3em;
}

table {
	margin: 1% 0 1% 0;
}

table {
	top: 5%;
	bottom: 5%;
}

.logos-parceiros {
	width: 150px;
	height: 150px;
}


#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	border: none;
	outline: none;
	background-color: lightseagreen;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }



footer {
	position: relative;
	border-top: solid 1px;
}

.muni-rodape {
    position: absolute;
    right: 0;
    top: 2%;
    width: 45%;
}

.titulo-muni {
    font-style: italic;
    text-align: left;
}

.lista-muni-esq, .lista-muni-cen, .lista-muni-dir {
    font-size: 14px;
    font-style: italic;
    margin: 2% 9% 0% 0%;
}

.lista-muni-esq {
    float: left;
}

.lista-muni-cen {
    float: left;
}

.lista-muni-dir {
    float: right;
}

/* icons */
.center-icons{
	background-color: black;
	padding: 40px;
	text-align: right;
}


i{
   color: white;
   font-size: 26px;
   padding: 13px;
   border: 2px solid white;
   border-radius: 5px;
}
i:hover{
	background-color: gray;
}
/* icons */


/* copyright */
.copyright-footer{
	text-align: center;
}

.text-copyright{
	color: white;
	position: relative;
	bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
}
/* copyright */
