body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 96%;
}

header {
	position: relative;
	border-bottom: solid 1px;
}

/*Logo Projeto Refusa*/
.logo-topo {
	width: 225px;
	height: 100px;
}

.titulo {
	font-size: 50px;
	text-align: right;
	padding-right: 3%;
	position: absolute;
	top: 5%;
	right: 0;
	color: green;
}

.menu-opcoes { /* Posicionando o menu */
	position: absolute;
	bottom: 2%; /* 0 embaixo */
	right: 0; /* 0 a direita */
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline; /* barra do menu na horizontal */
	margin-left: 20px; /* margen entre os elementos */
}

.menu-opcoes a {
	color: #003366;
}

/* mudando estado dos links */
.menu-opcoes a:hover { /* passar o mouse */
	color: #007DC6;
}

.menu-opcoes a:active { /* clicar no item */
	color: #867DC6;
}

.texto-principal {
	top: 2%;
}

p {
	text-align: justify;
	padding: 1% 0 0 0;
	font-size: 1.1em;
}

.negrito {
	font-weight: bold;
}

section {
	top: 2%;
	bottom: 2%;
}

.corpo-projeto {
	font-style: oblique;
	padding: 2% 0 2% 0;
}

.cpr-titulo {
	font-size: 1.3em;
}

table {
	margin: 1% 0 1% 0;
}

table {
	top: 5%;
	bottom: 5%;
}

.logos-parceiros {
	width: 150px;
	height: 150px;
}

footer {
	position: relative;
	border-top: solid 1px;
}

.muni-rodape {
    position: absolute;
    right: 0;
    top: 2%;
    width: 45%;
}

.titulo-muni {
    font-style: italic;
    text-align: left;
}

.lista-muni-esq, .lista-muni-cen, .lista-muni-dir {
    font-size: 14px;
    font-style: italic;
    margin: 2% 9% 0% 0%;
}

.lista-muni-esq {
    float: left;
}

.lista-muni-cen {
    float: left;
}

.lista-muni-dir {
    float: right;
}

/* icons */
.center-icons{
	background-color: black;
	padding: 40px;
	text-align: right;
}


i{
   color: white;
   font-size: 26px;
   padding: 13px;
   border: 2px solid white;
   border-radius: 5px;
}
i:hover{
	background-color: gray;
}
/* icons */


/* copyright */
.copyright-footer{
	text-align: center;
}

.text-copyright{
	color: white;
	position: relative;
	bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
}
/* copyright */
